:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

body {
  font-family: "san-serif", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: var(--color);
  background-color: var(--background);
  position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.logo {
  color: var(--turquoise);
  text-align: center;
  font-size: 7.00em;
  font-family: Helvetica;
  margin-right: 0.5rem;
}

.about:hover{
color: (--turquoise)
}

.title {
 text-align: center;
 margin-right: 15rem;
}

.slogan {
  text-align: center;
  margin-right: 15rem ;
}


