:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

body {
  font-family: "san-serif", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-y: scroll;
  font-size: 20px;
  color: var(--color);
  background-color: var(--background);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Header*/
.logo {
  color: var(--turquoise);
  text-align: center;
  font-size: 1.350em;
  font-family: Helvetica;
  margin-right: 0.5rem;
  margin-left: 1rem;
  font-weight: bold;
}

.about:hover {
  color: (--turquoise)
}

.title {
  text-align: center;
  margin-right: 15rem;
}

.logotitle {
  margin-left: 0.5rem;
}

.slogan {
  text-align: center;
  /* margin-right: 15rem; */
}

/*Chat page title*/
.chatpage {
  text-align: center
}

/*Contact page*/
.contact {
  text-align: center;
}


.about-text {
  text-align: center;
.new-chat-form {
  color: rgb(6, 4, 4);
  border-radius: 25px;
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: var(--turquoise)}

  .new-chat-form input {
    border-color: transparent;
    border-radius: 25px;
    margin-right: 2rem;
    flex: 1;
  }

  .new-chat-form button {
    color: black;
    border-color: transparent;
    width: 150px;
    border-radius: 25px;

  }



.card-body{
  position: absolute;
  background: var(--turquoise);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card{
  width: 200px;
  height: 500px;
  padding: 3rem;
  border-radius: 20px;
  overflow: scroll;
  position: relative;
  display: flex;
}

@media (min-width: 600px) {

.cards{
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
  }
}

.card button {
  border-color: transparent;
  background: black;
  color: black;
  text-align: center;
  border-radius: 25px;
  margin-top: 0.5rem;
  padding: 10px;
}

.card-topic{

}